@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

i {
	cursor: pointer;
}

/* Card */

.cards {
	width: 190px;
	height: 254px;
	background: #0e2a4f;
	position: relative;
	display: flex;
	place-content: center;
	place-items: center;
	overflow: hidden;
	border-radius: 20px;
}

.cards h2 {
	z-index: 1;
	color: white;
	font-size: 1.5em;
	margin-top: 20px;
}

.cards p {
	z-index: 1;
	color: white;
	margin-bottom: 1.5em;

	font-size: small;
}

.cards::before {
	content: "";
	position: absolute;
	width: 100px;
	background-image: linear-gradient(
		180deg,
		rgb(0, 183, 255),
		rgb(255, 48, 255)
	);
	height: 130%;
	animation: rotBGimg 3s linear infinite;
	transition: all 0.2s linear;
}

@keyframes rotBGimg {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.cards::after {
	content: "";
	position: absolute;
	background: #0f3970;
	inset: 5px;
	border-radius: 15px;
}

.icon {
	z-index: 1;
	color: white;
}

.icont {
	display: flex;
	width: 100px;
	padding-bottom: 20px;
	justify-content: space-between;
}
.cardcont {
	z-index: 1;
}
.tag {
	z-index: 1;
}
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
}

/* INPUTS */

#form {
	width: 300px;
	border: 2px solid black;
	border-radius: 40px;
	box-shadow: 10px 10px 30px black;
}

.containerr {
	position: relative;
	width: 200px;
}

.containerr input {
	width: 100%;
	background: transparent;
	outline: none;
	border: none;
	color: #222;
	padding: 8px;
}

.containerr label {
	position: absolute;
	left: 0;
	top: 0;
	color: black;
	pointer-events: none;
	-webkit-transition: 0.5s;
	transition: 0.5s;

	font-weight: bold;
}

.containerr input:valid ~ label,
.containerr input:focus ~ label {
	color: black;
	-webkit-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
	font-size: 0.6rem;
}

.containerr i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #222;
}

.containerr i:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;

	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#ff1b69),
		color-stop(#ff0),
		color-stop(#2196f3),
		color-stop(#9c27b0),
		to(#ff1b69)
	);

	animation: animate 3s linear infinite;

	-webkit-animation: animate 3s linear infinite;
	animation: animate 3s linear infinite;
}

/* Button */

.buttonn {
	display: flex;
	border: 2px solid black;
	border-radius: 5px;
	width: 170px;
}

.box {
	width: 25px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: 700;
	color: white;
	transition: all 0.8s;
	cursor: pointer;
	position: relative;
	background: black;
	overflow: hidden;
}

.box:before {
	content: "A";
	position: absolute;
	top: 0;
	background: white;
	color: black;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(100%);
	transition: transform 0.4s;
}

.box:nth-child(2)::before {
	transform: translateY(-100%);
	content: "d";
}

.box:nth-child(3)::before {
	content: "d";
}

.box:nth-child(4)::before {
	transform: translateY(-100%);
	content: "N";
}

.box:nth-child(5)::before {
	content: "o";
}
.box:nth-child(6)::before {
	transform: translateY(-100%);
	content: "t";
}
.box:nth-child(7)::before {
	content: "e";
}

.buttonn:hover .box:before {
	transform: translateY(0);
}

/* BODY */
body {
	background: linear-gradient(
		-45deg,
		rgb(224, 9, 224),
		rgb(161, 13, 240),
		rgb(241, 148, 7),
		rgb(8, 237, 218),
		rgb(6, 6, 250)
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.heading {
	font-family: "Nanum Myeongjo", serif;
}

/* Heading */

h1 {
	font-family: "Teko", sans-serif;
	text-transform: uppercase;

	text-align: center;
	display: flex;
	display: flex;
	align-items: center;
	align-items: center;
	justify-content: center;
	justify-content: center;
	margin: 0;

	position: relative;

	color: #000;
}

h1:before {
	content: attr(data-text);
	position: absolute;
	background: linear-gradient(white, white);
	background-clip: text;
	color: transparent;
	background-size: 100% 90%;
	line-height: 0.9;
	clip-path: ellipse(120px 120px at -2.54% -9.25%);
	animation: swing 5s infinite;
	animation-direction: alternate;
}

@keyframes swing {
	0% {
		-webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
		clip-path: ellipse(120px 120px at -2.54% -9.25%);
	}
	50% {
		-webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
		clip-path: ellipse(120px 120px at 49.66% 64.36%);
	}
	100% {
		clip-path: ellipse(120px 120px at 102.62% -1.61%);
		clip-path: ellipse(120px 120px at 102.62% -1.61%);
	}
}

/* Rattle */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
	display: block;
	font: 10.5em "Montserrat";
	width: 100px;

	margin: 0 auto;
}
.g-ants {
	font-weight: bolder;
	font-size: 1.45em;
	margin: auto;
}

.text-copy {
	fill: none;
	stroke: white;
	stroke-dasharray: 6% 29%;
	stroke-width: 5px;
	stroke-dashoffset: 0%;
	animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
	stroke: #efe8ed;
	animation-delay: -1s;
}

.text-copy:nth-child(2) {
	stroke: #82ccf7;
	animation-delay: -2s;
}

.text-copy:nth-child(3) {
	stroke: #f6aec3;
	animation-delay: -3s;
}

.text-copy:nth-child(4) {
	stroke: #e9f295;
	animation-delay: -4s;
}

.text-copy:nth-child(5) {
	stroke: #d28df7;
	animation-delay: -5s;
}

@keyframes stroke-offset {
	100% {
		stroke-dashoffset: -35%;
	}
}

#icon {
	z-index: 1;
	color: white;
}

/* LOGIN */



.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 360px;
	padding: 40px;
	margin: 20px auto;
	margin-top: 3em;
	
	transform: translate(-50%, -55%);
	background: rgba(0, 0, 0, 0.9);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.login-box p:first-child {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: #fff;
	font-size: 12px;
}

.login-box form button {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	margin-top: 40px;
	letter-spacing: 3px;
}

.login-box button:hover {
	background: #fff;
	color: #272727;
	border-radius: 5px;
}

.login-box button span {
	position: absolute;
	display: block;
}

.login-box button span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #fff);
	animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
	0% {
		left: -100%;
	}

	50%,
	100% {
		left: 100%;
	}
}

.login-box button span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #fff);
	animation: btn-anim2 1.5s linear infinite;
	animation-delay: 0.375s;
}

@keyframes btn-anim2 {
	0% {
		top: -100%;
	}

	50%,
	100% {
		top: 100%;
	}
}

.login-box button span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #fff);
	animation: btn-anim3 1.5s linear infinite;
	animation-delay: 0.75s;
}

@keyframes btn-anim3 {
	0% {
		right: -100%;
	}

	50%,
	100% {
		right: 100%;
	}
}

.login-box button span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #fff);
	animation: btn-anim4 1.5s linear infinite;
	animation-delay: 1.125s;
}

@keyframes btn-anim4 {
	0% {
		bottom: -100%;
	}

	50%,
	100% {
		bottom: 100%;
	}
}

.login-box p:last-child {
	color: #aaa;
	font-size: 14px;
}

.login-box button.a2 {
	color: #fff;
	text-decoration: none;
}

.login-box button.a2:hover {
	background: transparent;
	color: #aaa;
	border-radius: 5px;
}




/* SIGNUP */

.form-container {
	width: 320px;
	border-radius: 0.75rem;
	background-color: rgba(17, 24, 39, 1);
	padding: 2rem;
	color: rgba(243, 244, 246, 1);
	margin:auto;
	
  }
  
  .title {
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
  }
  
  .form {
	margin-top: 1.5rem;
  }
  
  .input-group {
	margin-top: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
  }
  
  .inputt {
	display: block;
	color: rgba(156, 163, 175, 1);
	margin-bottom: 4px;
  }
  .pass {
	display: block;
	color: red;
	margin-bottom: 4px;
  }
  
  .input-group input {
	width: 100%;
	border-radius: 0.375rem;
	border: 1px solid rgba(55, 65, 81, 1);
	outline: 0;
	background-color: rgba(17, 24, 39, 1);
	padding: 0.75rem 1rem;
	color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
	border-color: rgba(167, 139, 250);
  }
  
  .forgot {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
	font-size: 0.75rem;
	line-height: 1rem;
	color: rgba(156, 163, 175,1);
	margin: 8px 0 14px 0;
  }
  .forgot a,.signup a {
	color: rgba(243, 244, 246, 1);
	text-decoration: none;
	font-size: 14px;
  }
  .forgot a:hover, .signup a:hover{
	-webkit-text-decoration: underline rgba(167, 139, 250, 1);
			text-decoration: underline rgba(167, 139, 250, 1);
  }
  .sign {
	display: block;
	width: 100%;
	background-color: rgba(167, 139, 250, 1);
	padding: 0.75rem;
	text-align: center;
	color: rgba(17, 24, 39, 1);
	border: none;
	border-radius: 0.375rem;
	font-weight: 600;
  }
  
  .social-message {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	padding-top: 1rem;
  }
  
  .line {
	height: 1px;
	-webkit-box-flex: 1;
		-ms-flex: 1 1 0%;
			flex: 1 1 0%;
	background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  .social-icons .icon {
	border-radius: 0.125rem;
	padding: 0.75rem;
	border: none;
	background-color: transparent;
	margin-left: 8px;
  }
  
  .social-icons .icon svg {
	height: 1.25rem;
	width: 1.25rem;
	fill: #fff;
  }
  
  .signup {
	text-align: center;
	font-size: 0.75rem;
	line-height: 1rem;
	color: rgba(156, 163, 175, 1);
  }
  
